.h2-48px {
    font-size: 54px !important;
}

.homepage3-body .header-area.homepage3.wr-menu-sticky {
    padding: 0 !important;
}

.homepage3-body .header-area.homepage3.wr-menu-sticky-hide {
    padding: 16px !important;
}

.homepage3-body .header-area.homepage3 .header-elements .main-menu ul li ul.dropdown-padding.wr-menu-dropdown {
    width: 245px !important;
    margin-top: 20px;
}

.homepage3-body .header-area.homepage3 .header-elements {
    padding: 5px 24px;
}

.homepage3-body .header-area.homepage3 .header-elements .main-menu ul li a.wr-menu-item {
    padding: 25px 20px !important;
}

.blog3-section-area .blog-boxarea .img1 {
    height: 420px;
}

.testimonial3-section-area .testimonial-vertical .img1 img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 16px;
}

.testimonial3-section-area .testimonial-arrow-area 
.testimonial3-vertical-slider .testimonial-vertical.wiratama-residence2-slider {
    padding: 0 !important;
    background: transparent !important;
}

.footer3-section-area {
    background-image: url(../img/bg/wr-footer-bg.webp) !important;
    padding-top: 0 !important;
    margin-top: 150px;
}

.footer3-section-area .footer3-bottom-section .footer-bottom-area {
    margin-top: -150px;
}

.disabled-button {
    background-color: rgb(122, 130, 126);
    pointer-events: none;
}

.text-justify {
    text-align: justify;
}