.h2-48px {
    font-size: 54px !important;
}

.homepage3-body .header-area.homepage3.wr-menu-sticky {
    padding: 0 !important;
}

.homepage3-body .header-area.homepage3.wr-menu-sticky-hide {
    padding: 16px !important;
}

.homepage3-body .header-area.homepage3 .header-elements .main-menu ul li ul.dropdown-padding.wr-menu-dropdown {
    width: 245px !important;
    margin-top: 20px;
}

.homepage3-body .header-area.homepage3 .header-elements {
    padding: 5px 24px;
}

.homepage3-body .header-area.homepage3 .header-elements .main-menu ul li a.wr-menu-item {
    padding: 25px 20px !important;
}

.blog3-section-area .blog-boxarea .img1,
.blog-inner-section-area .blog-boxarea .img1 {
    height: 400px;
}

.testimonial3-section-area .testimonial-vertical .img1 img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 16px;
}

.testimonial3-section-area .testimonial-arrow-area 
.testimonial3-vertical-slider .testimonial-vertical.wiratama-residence2-slider {
    padding: 0 !important;
    background: transparent !important;
}

.footer3-section-area {
    background-image: url(../img/bg/wr-footer-bg.webp) !important;
    padding-top: 0 !important;
    margin-top: 150px;
}

.footer3-section-area .footer3-bottom-section .footer-bottom-area {
    margin-top: -150px;
}

.disabled-button {
    background-color: rgb(122, 130, 126);
    pointer-events: none;
}

.text-justify {
    text-align: justify;
}

.custom-alert {
    border: none;
}

.apartment-details-left .apartment-author-area ul {
    color: var(--ztc-text-text-9);
    font-family: var(--ztc-family-font2);
    font-size: var(--ztc-font-size-font-s16);
    font-style: normal;
    font-weight: var(--ztc-weight-medium);
    line-height: 26px;
    display: inline-block;
    transition: all 0.4s;
    text-align: justify;
}

.blog-inner-section-area .blog-boxarea .content-area p {
	color: var(--ztc-text-text-8);
	font-family: var(--ztc-family-font2);
	font-size: var(--ztc-font-size-font-s16);
	font-style: normal;
	line-height: 28px;
	transition: all 0.4s;
}

.blog-details-leftarea .blog-author-area p {
    margin-bottom: 20px;
}

.blog-details-leftarea .blog-details-left .search-area form {
    padding: 20px 20px;
}

.blog-inner-section-area .blog-details-left .search-area form {
    padding: 22px 20px !important;
}

.blog-details-leftarea .blog-details-left .tags-area ul li a {
    padding: 12px 11px;
}

.property3-section-area .property-images-area .img2 {
	margin-right: 125px;
    margin-left: 30px;
}

.whatsapp-wiratama {
	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: 9999;
	/* width: 60px; */
	/* height: 60px; */
	border-radius: 15px;
	background: #25D366;
	padding: 0 9px 0 10px;
    /* box-shadow: 8px 13px 28px 2px rgba(180,180,180,0.79);
    -webkit-box-shadow: 8px 13px 28px 2px rgba(180,180,180,0.79);
    -moz-box-shadow: 8px 13px 28px 2px rgba(180,180,180,0.79); */
    transition: all 0.2s;
}

.whatsapp-wiratama:hover {
    transform: scale(0.9);
}

.whatsapp-wiratama a {
	font-size: 2.5rem;
	color: #fff;
}

.heading6.company-vision {
	padding: 0 30px;
}

.heading6.company-vision h2 {
    font-style: italic;
    font-size: var(--ztc-font-size-font-s24);
    font-weight: normal;
}

.heading6.company-vision h2 span {
    font-size: 1.5em;
}

.custom-modal {
    border: none;
    border-radius: 1rem;
    font-family: var(--ztc-family-font2);
    
}

.custom-modal-wrapper {
    background: #302b2b94;
}

.custom-modal.gallery-modal {
    background: transparent;
}

.custom-modal.gallery-modal .modal-body img {
    border-radius: 15px;
}

.custom-modal.gallery-modal .modal-header {
    color: #fff;
}

.custom-modal .modal-header {
    border-bottom: none;
}

.custom-modal .modal-footer {
    border-top: none;
}

.custom-modal .modal-footer button {
    border-radius: 15px;
}

.custom-modal .modal-header button i {
	font-size: 25px;
	color: #fff;
}

.contact-inner-area .contact-inner-boxarea .contact-box .content a {
	line-height: 23px;
}

.contact-inner-area .contact-author-box .btn-area1 a {
	background: #0b4331;
}

.contact-inner-area .contact-author-box .btn-area1 a:hover {
	background: #163b78;
}

/* Copy H2 style to H1 to improve SEO */

.header-heading2 h1 {
	color: var(--ztc-text-text-1);
	font-family: var(--ztc-family-font1);
	font-size: var(--ztc-font-size-font-s56);
	font-style: normal;
	font-weight: var(--ztc-weight-regular);
	line-height: 64px;
	transition: all 0.4s;
	display: inline-block;
}

.header-carousel-area3 .active .main-hero-area .header-content-area h1 {
	transition: transform 1600ms ease, opacity 1600ms ease;
	transform: translateX(0px);
	opacity: 1;
}

.header-carousel-area3 .main-hero-area .header-content-area h1 {
	overflow: hidden;
	transition: transform 1400ms ease, opacity 1400ms ease;
	transform: translateX(-800px);
	position: relative;
	opacity: 0;
	font-family: var(--ztc-family-font2) !important;
	font-weight: var(--ztc-weight-bold);
}

.heading3 h2 {
	color: var(--ztc-text-text-8);
	font-family: var(--ztc-family-font2);
	font-size: var(--ztc-font-size-font-s44);
	font-style: normal;
	font-weight: var(--ztc-weight-bold);
	line-height: 54px;
}

/* .blog-inner-section-area .blog-details-left .search-area {
    border-radius: 16px;
    padding: 0 32px;
}

.blog-inner-section-area .blog-details-left .search-area form {
    background: #F1F4F3;
    position: relative;
    z-index: 1;
    border-radius: 100px;
    padding: 22px 20px;
    height: 70px;
}

.blog-inner-section-area .blog-details-left .search-area form input {
    width: 100%;
    border: none;
    outline: none;
    color: var(--ztc-text-text-8);
    font-family: var(--ztc-family-font2);
    font-size: var(--ztc-font-size-font-s16);
    font-style: normal;
    font-weight: var(--ztc-weight-semibold);
    line-height: 16px;
}

.blog-inner-section-area .blog-details-left .search-area form button {
    border: none;
    outline: none;
    position: absolute;
    right: 10px;
    top: 10px;
} */

.about-widget-images .elements3 img {
    width: 100%;
    height: auto;
}

/* Override Wordpress style */
.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) a,
.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) img {
    border-radius: 15px;
}

a:where(:not(.wp-element-button)) {
    /* color: var(--wp--preset--color--foreground); */
    text-decoration: none !important;
}

.wp-block-themeisle-blocks-slider .wp-block-themeisle-blocks-slider-item-wrapper figure img {
    border-radius: 15px;
}

.wp-block-image img {
    box-shadow: 10px 9px 37px -9px rgba(152, 152, 152, 0.75);
        -webkit-box-shadow: 10px 9px 37px -9px rgba(152, 152, 152, 0.75);
        -moz-box-shadow: 10px 9px 37px -9px rgba(152, 152, 152, 0.75);
    border-radius: 15px;
}